---
pageTitle: Text Case Converter
description: "A free online tool to easily convert text between various cases like lowercase, uppercase, title case, and sentence case. Perfect for developers, writers, and students." 
layout: base.njk
categoryTitle: Text Tools
categoryUrl: "/text-tools/" 
permalink: /tools/text-tools/text-case-converter/
---

